.item {
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 100px;
  display: block;
}

.title {
  font-size: 35px;
}

.text {
  font-size: 10px;
}

.active {
  color: green;
}

.notactive {
  color: red;
}
